version: "3.8"

services:
  app:
    container_name:  materialdash_app
    build:
      context: .
    ports:
      - "8001:8001"
    volumes:
      - ./app:/app
      - ./tests:/app/tests
      - ./materialdash:/app/materialdash
      - ./docker:/app/docker
    env_file: "./docker/environments"
    depends_on:
      - db

  db:
    container_name: materialdash_db
    image: postgres:15
    env_file: "./docker/environments"
    ports:
      - "5432:5432"
