include LICENSE
include README.rst
recursive-include materialdash/admin/ *
recursive-include materialdash/locale/ *
recursive-include materialdash/static/ *
recursive-include materialdash/templates/ *
recursive-include materialdash/templatetags/ *
recursive-include docs *
